@CHARSET "ISO-8859-1";

.smallDiv{
	width: 430px;
	float: left;
	margin: 5px;
/* 	border-width: 1px;
	border-style: solid;
	border-color: #cfcfcf; */
	padding: 5px;
	height: 140px;
}

.smallDiv input[readonly]{
	background-color: red;
}
/*.smallDiv h5, .largeDiv h5*/
h5{
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 10pt;

	padding: 5px;
	color: #4B4B4B;
	text-decoration: none;
}

.largeDiv{
	margin: 5px;
	width: 880px;
/* 	border-width: 1px;
	border-style: solid;
	border-color: #cfcfcf; */
	float: left;
	padding: 5px;
}

#summaryParticipantTable {
	font-size: 10pt;
	font-weight: normal;
	text-indent: 0px;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	border-width: 1px;
	border-color: #cecece;
	border-style: solid;
}

#summaryParticipantTable th {
	text-align: left;
/*background-color: #dddddd;*/
}

.imageAlignTable{
	margin-top: 10px;
	margin-left: 10px;
}

.imageAlignTable td {
	padding-right: 30px;
}

.header-bg{
	background-color: #CFCFCF;
}