@CHARSET "ISO-8859-1";

body	{
	background-image: url("../images/loginBG.png");
	background-repeat: repeat-x;
	background-color: #e0e0e0;
	color: #eeeeee;
	text-align: center;
	margin-top: 0px;
	
}

#loginForm {
	background-image: url("../images/loginBG2.png");
	width: 900px;
	height: 400px;
	margin: 0px auto;
	background-repeat: repeat-x;
}

table {
	margin: 0px auto;
	text-align: right;
	border-spacing: 5px;
}

#loginLogo {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px
}

#submit	{
	min-width: 100px;
	height: 30px;
}

#submit {
	display: inline;
	padding: 6px 6px;
	overflow: visible;
	min-width: 100px;
	background-color: #eeeeee;
	border-style: solid;
	border-color: #bbbbbb;
	color: #555555;
	/*width: 100px;
	height: 30px;*/
}

#submit:HOVER {
	background-color: #efefef; 
	border-color: #dddddd;
}

.errorblock {
	color: red;
	width: 500px;
	margin: 0px auto;
	top: 50px;
	position: relative;
}