@CHARSET "ISO-8859-1";

/*   Menu styling   */
#menu {
	background-image: url("../images/menuBG.png");
	max-width: 1000px;
	height: 30px;
	margin: -8px auto 0px auto;
}

#menuList {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: auto;
	position: relative;
}

#menuList_left {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	width: auto;
	position: relative;
}

#menuList_left li {
	display: inline-block;
	float: left;
}

#menuList_left select {
	width: 150px;
	margin-top:4px;
	height: 24px;
}

#selectScreenform {
	 background:transparent;
	-webkit-appearance: none; 
}


#searchterm {
	font-size: 12px;
	width:300px;
	margin-left: 3px;
	margin-right: 0px;
	margin-top: 4px;
	height:  21px;
	padding-top: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-right-width: 0px;
	vertical-align: middle;
}


#searchButton {
	margin-left: 0px;
	height: 24px;
	padding-top: 0px;
	margin-top: 3px;
	background-color: white;
	width: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-left-width: 0px;
	background-image: url("../images/search.png");
	background-repeat: no-repeat;
	vertical-align: middle;
}


#menuList_left button {
	height: 24px;
	margin-top: 4px;
	padding-top: 2px;
	margin-left: 3px;
	margin-right: 2px;
	padding-top: 4px;
}

#menuList li {
	display: inline-block;
	float: right;
}

.menuItem {
	width: 100px;
	text-align: center;
	color: #eeefef;
	display: inline-block;
	padding: 6px 0px;
	height: 18px;
	font-size: 10pt;
}

#menu li a {
	color: #eeefef;
	text-decoration: none;
}

#menu li a:HOVER {
	color: white;
	text-decoration: none;
}

#selectedMenuItem {
	width: 100px;
	text-align: center;
	color: #eeefef;
	display: inline-block;
	background-image: url("../images/menuSelectedBG.png");
	background-repeat: repeat-x;
	padding: 6px 0px;
	height: 18px;
	font-size: 10pt;
}

body {
	background-image: url("../images/topBG.png");
	background-repeat: repeat-x;
	background-color: #e5e5e5;
	font-family: sans-serif;
	padding-top: 0px;
	/*font-size:12px;*/
}

#content {
	background-color: #e9e9e9;
	width: 1000px;
	min-height: 700px;
	border-style: solid;
	border-width: 1px;
	border-color: #cfcfcf;
	margin: 10px auto;
	padding: 20px;
	/*text-indent: 20px;*/
}

#header {
	background-color: #dadada;
	width: 1000px;
	height: 200px;
	border-style: solid;
	border-width: 1px;
	border-color: #c2c2c2;
	margin: 10px auto;
}

#headTitle {
	margin: 0px;
	background-image: url("../images/titleBG.png");
	background-repeat: repeat-x;
	height: 30px;
	width: 100%;
	color: #565656;
	text-indent: 10px;
	padding-top: 5px;
}

textarea {
	resize: none;
}

#loginForm>form>table {
	margin-left: auto;
	margin-right: auto;
}

#loginForm>h1 {
	text-align: center;
}

#loginForm>h1 {
	text-align: center;
}

#participantTable {
	font-size: 10pt;
	font-weight: normal;
	text-indent: 0px;
	margin: 20px auto 0px auto;
	border-spacing: 0px;
	text-align: center;
	max-width: 100%;
	width: 100%;
}

#participantTable input{
	width: 95%;
}


th {
	font-size: 10pt;
	text-indent: 0px;
}

.errorblock {
	color: #A86060;
	width: 800px;
	margin: 0px auto;
	border-width: 1px;
	border-style: solid;
	border-color: #F8C3C3;
	background-color: #FFEFE7;
	margin-top: 30px;
}

.errorblock p {
	text-align: center;
}

#deelnemerslijstDatatable a {
	padding-right: 10px;
}

#tabs {
	width: 95%;
	margin: 0px auto;
	font-size: 80%;
	margin-bottom: 30px;
}

#tabFooterButtons {
	position: absolute;
	bottom: 20px;
}

.pos_absolute{
	position: absolute;
}

#tabFooterButtons_addDeelnemers{
	bottom: 20px;
}

.button {
	display: inline;
	padding: 6px 6px;
	overflow: visible;
	min-width: 100px;
	background-color: #eeeeee;
	border-style: solid;
	border-color: #bbbbbb;
	color: #555555;
	border-width: 1px;
	/*width: 100px;
	height: 30px;*/
}

.button:HOVER {
	background-color: #efefef; 
	border-color: #dddddd;
}

#stap1 input[readonly], #stap2 input[readonly], #stap5 input[readonly]{
	border-width: 0px;
}

tr {
	height: 25px;
}

.tab {
	min-height: 300px;
}

h2 {
	font-size: 10pt;
}

h3 {
	font-size: 12pt;
}

h4 {
	font-size: 14pt;
}

h5 {
	margin-top: 0px;
	font-size: 10pt;
	text-decoration: underline;
}

div.ui-datepicker {
	font-size: 75%;
}

div.ui-dialog {
	font-size: 75%;
}

#inschrijvingLabel {
	margin-left: 20px;
}

/* CSS for overview AanvraagInschrijvingen (role:Dienst)*/
.overzichtinschrijving {
	background-color: white;
	padding-left:10px;
	padding-right:10px;
	margin:20px;
	border-collapse: collapse;
}

.extraInfoInschrijving {
	float:left;
	max-width: 450px;
	font-size:12px !important;
}

.clearbothfix {
	clear: both;
}

.overzichtdeelnemers {
border:2px solid #057979;
margin:5px;
border-spacing: 0px;
width:460px;
float:left;
font-size:12px !important;
}

.overzichtdeelnemers th {
	background-color:#E5E5E5;
}

.overzichtdeelnemers td {
	text-indent: 0px;
	padding-left:4px;
	padding-right:4px;
}

tr.gekleurd {
}

*[hidden]{
	display: none;
}

#stap3TableWrapper{
	width: 100%;
}

#nieuwcontactpersoonformulier .tabButton{
	margin-top: 30px;
}

#nieuwcontactpersoonformulier{
	margin: 20px;
}

#contactpersoonSelect{
	z-index: 1000;
}

#medewerkers_table_bottom {
	position:relative;
	float:bottom;
	margin-left:2px;
}

.overviewTable {
	width: 98%;
	border-width: 1px;
	border-style: solid;
	border-color: #bbbbbb;
	border-spacing: 0px;
	white-space: nowrap;
	margin-top: 10px;
}

.overviewTable th {
	padding-left: 8px;
	padding-right: 8px;
	text-align: left;
}

.overviewTable td {
	padding-left: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
}


/*Secretariaats-credentials-tabel voor de superuser */
#secretariaatsCredentialsOverzicht {
	margin:5px;
	border-spacing: 0px;
	float:top;
	font-size:12px !important;
	width:100%;
}

#aantal_secretariaats_medewerkers {
	float:right;
}

/* .overviewTable th {
	background-color: #cccccc;
	color: #444444;
	text-align: left;
} */

.overviewTable .centerAlign{
	text-align: center;
}
#secretariaatsCredentialsOverzicht td {
	text-indent: 0px;
	padding-left:4px;
	padding-right:4px;
}
/*-------------------------------------------*/

.tab-minHeight{
	min-height: 450px;
}

/*----------------- error/info messages*/
.msgError {
	color: #D8000C;
	background-color: #FFBABA;
}
.msgInfo {
	color: #00529B;
	background-color: #BDE5F8;
}
.msgStyle {
	text-align: center;
	padding: 15px;
}
.defaultStyle{
	background-color: #E9E9E9;
}

#msg img{
	padding-right: 10px;
}

.maxWidth{
	max-width: 400px;
}
.widthAuto{
	width: auto;
}

#msg{
	margin-bottom: 10px;
}
#filterStyle{
	color: #037878;
	 text-decoration: none;
}
#filter a:hover{
	color: #037878;
	text-decoration: underline;
}

.display-none{
	display: none;
}
.display{
	display: block;
}
.no-close .ui-dialog-titlebar-close {
	display: none 
}
	
#contactPersonenTabel {
	width: 100%;
}

#contactPersonenTabel th {
	text-align: left;
}€‹
