Hier is de herschreven e-mail template in Thymeleaf:

```html
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nieuwe Inschrijving</title>
</head>
<body>
<p>
    Beste Pirlewieter,
</p>

<p>
    Een doorverwijzer zond een nieuwe inschrijving in. <br/>
    Deze inschrijving kreeg automatisch de status 'In behandeling' en de doorverwijzer kreeg een e-mail ter bevestiging hiervan. <br/>
</p>
<p>
    Details van de inschrijving vind je hieronder<br/>
</p>

<p>
<table>
    <tbody>
    <tr>
        <th scope="row">Doorverwijzer</th>
        <td>
            <ul>
                <li th:text="${organisation.name}"></li>
                <li th:text="${organisation.phone}"></li>
                <li th:text="${organisation.email}"></li>
                <li th:text="${organisation.code}"></li>
            </ul>
        </td>
    </tr>
    <tr>
        <th scope="row">Contactpersoon</th>
        <td>
            <ul>
                <li th:text="${applicant.givenName} + ' ' + ${applicant.familyName}"></li>
            </ul>
        </td>
    </tr>
    <tr>
        <th scope="row">Vakantie(s)</th>
        <td>
            <ul>
                <li th:each="h : ${holidays}" th:text="${h.name}"></li>
            </ul>
        </td>
    </tr>
    <tr>
        <th scope="row">Deelnemer(s)</th>
        <td>
            <ul>
                <li th:each="p : ${participants}" th:text="${p.givenName} + ' ' + ${p.familyName}"></li>
            </ul>
        </td>
    </tr>
</table>
</p>

<p>
    Met vriendelijke groet,<br/>
    Pirlewiet-Digitaal.
</p>
</body>
</html>