<p>
Beste doorverwijzer,
</p>

<p>
Zoals eerder aangekondigd, kan je vanaf nu deelnemers online inschrijven voor de vakanties van Pirlewiet.
</p>

<p>
Je kan dit via de website van Pirlewiet: <a href="http://www.pirlewiet.be">www.pirlewiet.be</a>
</p>

<p>
Er werd voor jouw organisatie "<strong>${organisation.naam}</strong>" reeds een profiel aangemaakt. Je kan hiermee aan de slag door je aan te melden met volgende code:

<p>
<strong>${organisation.code}</strong>
</p>

<p>
Kijk zeker even na of de gegevens van het profiel (nog) correct zijn.
</p>

<p>
Deze toepassing werd door enkele van onze vrijwilligers ontwikkeld. Enige kinderziektes zijn niet uitgesloten. Als je problemen merkt met de toepassing, contacteer dan het secretariaat of stuur een e-mail naar ${from}.
</p>

<p>
Met vriendelijke groet,<br/>
De Pirlewiet-Digitaal Robot.
</p>

<p>
Deze e-mail werd automatisch gegenereerd; je kan hier niet op antwoorden. <br/>
Wil je contact opnemen met het secretariaat van Pirlewiet kan dat via www.pirlewiet.be of via info@pirlewiet.be
</p>