<p>
Beste doorverwijzer,
</p>

<p>
Het secretariaat van Pirlewiet wijzigde de status van onderstaande inschrijving van '${old}' naar '${inschrijving.status}':
</p>

<p>
	<table>
		<tbody>
		<tr>
			<th scope="row">Vakantie(s)</th>
			<td>${vakanties}</td>
		</tr>
		
		<tr>
			<th scope="row">Deelnemer(s)</th>
			<td>
				<ul>
					<li>${r.deelnemers[0].voorNaam} ${r.deelnemers[0].familieNaam}</li>
					<#list ${related} as r>
					<li>${r.deelnemers[0].voorNaam} ${r.deelnemers[0].familieNaam}</li>
				</ul>
			</td>
		</tr>
	</table>
</p>

<p>
Volgende opmerking werd toegevoegd aan deze statusverandering:
</p>

<p>
<p>
	${(inschrijving.status.comment)!"Geen commentaar"}
</p>
</p>

<p>
Je kan deze inschrijving in detail bekijken via <a href="http://pirlewiet-digitaal.appspot.com/rs/inschrijvingen/${id}.html">http://pirlewiet-digitaal.appspot.com/rs/inschrijvingen/${id}.html</a> 
</p>

<p>
Voor het overzicht van al je inschrijvingen, surf naar <a href="http://pirlewiet-digitaal.appspot.com/index.htm">Pirlewiet Digitaal</a>
</p>

<p>
Met vriendelijke groet,<br/>
De Pirlewiet-Digitaal Robot.
</p>

<p>
Deze e-mail werd automatisch gegenereerd; je kan hier niet op antwoorden. <br/>
Wil je contact opnemen met het secretariaat van Pirlewiet kan dat via www.pirlewiet.be of via info@pirlewiet.be
</p>