<p>
Beste secretariaatsmedewerker,
</p>

<p>
Een doorverwijzer zond een nieuwe inschrijving in. <br/>
Deze inschrijving kreeg automatisch de status 'In behandeling' en de doorverwijzer kreeg een e-mail ter bevestiging hiervan. <br/>
</p>
<p>
Details van de inschrijving vind je hieronder en in bijlage als Excelbestand<br/>
</p>

<p>
	<table>
		<tbody>
		<tr>
			<th scope="row">Doorverwijzer</th>
			<td>
				<ul>
					<li>${organisation.name}</li>
					<li>${organisation.phone}</li>
					<li>${organisation.email}</li>
					<li>${organisation.code}</li>
				</ul>
			</td>
			
		</tr>
		<tr>
			<th scope="row">Contactpersoon</th>
			<td>
				<ul>
					<li>${contact.givenName} ${contact.familyName} </li>
				</ul>
			</td>
		</tr>
		<tr>
			<th scope="row">Vakantie(s)</th>
			<td>
				<ul>
				<#list holidays as h>
					<li>${h.name}</li>
				</#list>
				</ul>
			</td>
		</tr>
		<tr>
			<th scope="row">Deelnemer(s)</th>
			<td>
				<ul>
					<#list participants as p>
					<li>${p.givenName} ${p.familyName}</li>
					</#list>
				</ul>
			</td>
		</tr>
	</table>
</p>

<p>
Met vriendelijke groet,<br/>
Pirlewiet-Digitaal.
</p>