<p>
Beste doorverwijzer,
</p>

<p>
Via deze e-mail laten we graag weten dat het secretariaat van Pirlewiet de status wijzigde van een inschrijving.<br/> 
</p>

<p> 
	De status van onderstaande inschrijving werd gewijzigd van '${oldStatusMessage}' naar '${newStatusMessage}', m.a.w. ${newStatusDescription}
	
</p>

<p> 
	Het secretariaat voegde volgende commentaar toe:
</p>

<p> 
	${newStatusComment} 
</p>

<p>
	<table>
		<tbody>
		<tr>
			<th scope="row">Vakantie(s)</th>
			<td></td>
		</tr>
		<tr>
			<th scope="row">Deelnemer</th>
			<td>
				<ul>
					<li>${participant.givenName} ${participant.familyName}</li>
				</ul>
			</td>
		</tr>
	</table>
</p>

<p>
Je kan deze inschrijving bekijken én beheren via <a href="http://pirlewiet-digitaal.appspot.com/enrollment-${uuid}.html">Pirlewiet Digitaal</a> 
</p>

<p>
Voor het overzicht van al de inschrijvingen van jouw organisatie surf naar <a href="http://pirlewiet-digitaal.appspot.com/index.htm">De startpagina van Pirlewiet Digitaal</a>
</p>

<p>
Met vriendelijke groet,<br/>
Pirlewiet Digitaal.
</p>

<p>
Deze e-mail werd automatisch gegenereerd; je kan hier niet op antwoorden. <br/>
Wil je contact opnemen met het secretariaat van Pirlewiet, dan kan dit via www.pirlewiet.be of via info@pirlewiet.be
</p>