<p>
Beste doorverwijzer,
</p>

<p>
De registratie van jullie organisatie als doorverwijzer bij Pirlewiet is geslaagd. Hieronder vind je de registratiegegevens, alsook een inlogcode.
</p>

<p>
Deze code is uniek voor jullie organisatie. Verspreid deze code onder de collega's die inschrijvingen voor vakanties van Pirlewiet willen maken.
</p>

<p>
De inlogcode: <strong>${organisation.code}</strong>
</p>

<p>
Indien inloggen niet lukt, contacteer dan het secretariaat van Pirlewiet. Meer gegevens vind je hier: http://www.pirlewiet.be/hoe-inschrijven-voor-een-vakantie
</p>

<h2>Gegevens</h2>
<p>
	<ul>
		<li>Naam: ${organisation.name}</li>
		<li>E-mail: ${organisation.email}</li>
		<li>Telefoon: ${organisation.phone}</li>
	</ul>
</p>

<p>
	Vergeet niet om na inloggen het profiel van je organisatie te vervolledigen (o.a. adresgegevens). Pas daarna kan je inschrijvingen doorsturen en beheren.
</p>

<p>
Met vriendelijke groet,<br/>
Pirlewiet VZW.
</p>

<p>
Deze e-mail werd automatisch gegenereerd; je kan hier niet op antwoorden. <br/>
Wil je contact opnemen met het secretariaat van Pirlewiet kan dat via www.pirlewiet.be of via info@pirlewiet.be
</p>