<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="default">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %d{HH:mm:ss.SSS} [%thread] %-5level [%X{remote_user}] %logger{36} - %msg%n
                </Pattern>
            </layout>
        </appender>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="be.occam" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.springframework.web" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>
    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %d{HH:mm:ss.SSS} [%thread] %-5level [%X{remote_user}] %logger{36} - %msg%n
                </Pattern>
            </layout>
        </appender>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="be.occam" level="debug" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.springframework" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <logger name="org.thymeleaf" level="info" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

</configuration>
