<% for ( index in deelnemers ) { %>
<tr>
	<td><%=deelnemers[index].voorNaam%></td>
	<td><%=deelnemers[index].familieNaam%></td>
	<td><%=deelnemers[index].geboorteDatum%></td>
	<td><%=deelnemers[index].geslacht%></td>
	<td><b><%=deelnemers[index].rol%></b></td>
</tr>
<% } %>