<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragment-head :: header}"></head>

<body>

<div th:replace="~{fragments/fragment-menu :: menu-pirlewiet(active='enrollments')}"></div>

<div class="banner">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-12">
				<h1>Inschrijvingen</h1>
				<p>Beheer hier de inschrijvingen.</p>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</div>

<div class="container content">
	<div class="row">
		<div class="col-xs-12">
			<br/>
			<button type="button" id="download" class="btn btn-primary btn"><i class="fa fa-download"></i>&nbsp;&nbsp;Download inschrijvingen</button>
			<br/>
			<br/>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div th:if="${applicationsResult.value == T(be.occam.utils.spring.web.Result.Value).OK}">
				<div th:if="${#lists.isEmpty(applicationsResult.object)}">
					Er zijn nog geen dossiers ingediend.
				</div>
				<div th:each="applicationResult : ${applicationsResult.object}">
					<div th:with="app=${applicationResult.object}">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th scope="row" class="th-row">Dossier</th>
								<th colspan="2">
									<span><!--<strong th:text="${#dates.format(app.submitted, 'dd/MM/yyyy')}"></strong>--></span>
									<a th:title="${app.uuid}" th:attr="href=@{/organisation/application-{uuid}.html(uuid=${app.uuid})}" class="btn btn-primary pull-right">Wijzig</a>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th scope="row" class="th-row">Vakantie(s)</th>
								<td colspan="2" th:text="${app.holidayNames}"></td>
							</tr>
							<tr>
								<th scope="row" class="th-row">Contactpersoon</th>
								<td colspan="2" th:text="${app.contactPersonName}"></td>
							</tr>
							<tr th:each="enrollment : ${app.enrollments}">
								<th scope="row" class="th-row">Vakantieganger</th>
								<td colspan="2">
									<span th:text="${enrollment.participantName}"></span>
									<div class="pull-right">
										<span class="text-info"><strong th:text="#{enrollment.status.__${enrollment.status.value}__}"></strong></span>&nbsp;&nbsp;
										<a th:href="@{/pirlewiet/enrollment-{uuid}.html(uuid=${enrollment.uuid})}" class="btn btn-default">Beheer</a>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div th:if="${applicationsResult.value == T(be.occam.utils.spring.web.Result.Value).NOK}">
				<span th:text="${applicationsResult.errorCode}"></span>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
	var $jq = jQuery.noConflict();
    $jq("#download").click(function(event) {
        event.preventDefault();
        busyButton($jq(this));
        window.location.href = "/api/applications/pirlewiet/enrollments/download";
    });
</script>
</body>
</html>