<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragment-head :: head}"></head>

<body>
<div th:replace="~{fragments/fragment-menu :: menu-pirlewiet(active='enrollments')}"></div>

<div class="banner">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <h1>Inschrijving</h1>
                <p>Beslis over de inschrijving van een deelnemer.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div th:if="${enrollmentResult != null}">
        <div id="enrollment" th:with="enrollment=${enrollmentResult.object}" th:attr="uuid=${enrollment.uuid},applicationUuid=${enrollment.applicationUuid}">
            <br/>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-10 right-wing">
                    <a th:href="@{/application-{enrollment.applicationUuid}(enrollment.applicationUuid=${enrollment.applicationUuid})}">Naar het dossier</a>
                </div>
                <br/>
            </div>
            <div id="row-status" class="row">
                <div class="col-sm-12 alert alert-info">
                    <h4><strong>Status</strong><br/></h4>
                    <p>
                        <i th:text="#{enrollment.status.__${enrollment.status.value}__}"></i><br/>
                        <span th:text="#{enrollment.status.__${enrollment.status.value}__.description}"></span><br/>
                    </p>
                </div>
            </div>
            <div id="row-participant" class="row">
                <div class="col-sm-12 alert alert-success">
                    <div>
                        <div class="col-sm-12">
                            <i class="fa fa-2x fa-user pull-right"></i>
                            <h4><strong>Deelnemer</strong><br/></h4>
                        </div>
                    </div>
                    <div>
                        <div class="col-sm-4 media-middle max-height">
                            <span th:text="${enrollment.participant.givenName} + ' ' + ${enrollment.participant.familyName}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="row-holidays" class="row">
                <div class="col-sm-12 alert" th:classappend="${'OK' == holidaysResult.value ? 'alert-success' : 'alert-warning'}">
                    <div th:with="holidays=${holidaysResult.object}">
                        <i class="fa fa-2x fa-calendar pull-right"></i>
                        <h4><strong>Vakantie</strong><br/></h4>
                        <p>Selecteer de vakantie</p>
                        <div th:each="holiday : ${holidays}">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="holiday" th:value="${holiday.uuid}" th:checked="${holiday.isApplicationHoliday}">
                                    <span th:text="${holiday.name}"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="row-decision" class="row">
                <div class="col-sm-12 alert" th:classappend="${enrollment.status.value == 'TRANSIT' ? 'alert-warning' : 'alert-success'}">
                    <div>
                        <div class="col-sm-12">
                            <i class="fa fa-2x fa-check pull-right"></i>
                            <h4><strong>Beslissing</strong></h4>
                            <p>Neem een beslissing over de inschrijving of wijzig de beslissing</p>
                        </div>
                    </div>
                    <div>
                        <div class="radio" th:each="status : ${T(be.pirlewiet.digitaal.model.EnrollmentStatus.Value).values()}">
                            <label>
                                <input type="radio" name="decision" th:value="${status}" th:checked="${status == enrollment.status.value}">
                                <span th:text="#{enrollment.status.__${status}__}"></span><br/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="comment" class="row hidden">
                <div class="col-sm-12 alert alert-info">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4><strong>Uitleg bij beslissing</strong></h4>
                            <p>Voorzie eventueel enige uitleg bij de beslissing.<br/>
                                <strong>Opgelet:</strong> De aanvrager krijgt een e-mail met deze uitleg.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="radio col-sm-12">
                            <textarea id="decision-comment-text" class="form-control" rows="8" cols="64"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 alert alert-info">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4><strong>Versturen</strong><br/></h4>
                        </div>
                    </div>
                    <div id="enrollment-status" class="col-sm-12 alert alert-warning hidden"></div>
                    <div class="row">
                        <div class="radio col-sm-12">
                            <button type="button" id="enrollment-submit" class="btn btn-primary"><i class="fa fa-3 fa-save"></i>&nbsp;&nbsp;Verstuur</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var $jq = jQuery.noConflict();

    var show = function(id) {
        $jq(".panel").removeClass("show").addClass("hidden");
        $jq("#" + id).removeClass("hidden").addClass("show");
    };

    var saveHolidays = function(id) {
        var holidays = [];
        $jq(".holiday:checked").each(function(index, element) {
            holidays.push(new Holiday(element.value));
        });
        putEnrollmentHolidays($jq("#enrollment").attr("applicationUuid"), id, holidays, $jq("#enrollment-submit"), $jq("#enrollment-status"), saveStatus);
    };

    var saveStatus = function(id) {
        var comment = $jq("#decision-comment-text").val();
        var decision = $jq("input[name=decision]:checked").val();
        if (decision != null) {
            var sx = new Status(decision, comment, true);
            putEnrollmentStatus($jq("#enrollment").attr("applicationUuid"), id, sx, $jq("#enrollment-submit"), $jq("#enrollment-status"), refresh);
        }
    };

    $jq("#enrollment-submit").click(function(event) {
        clearStatus();
        saveHolidays($jq("#enrollment").attr("uuid"));
    });

    $jq("input[name='decision']").change(function(event) {
        $jq("#comment").removeClass("hidden").addClass("show");
    });

    $jq(document).ready(function() {
        buttons();
    });
</script>
</body>

</html>