<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="nl">
<head th:title="pirlewiet digitaal" th:replace="fragments/fragment-head :: head">
</head>
<body>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h2>Deelnemer</h2>
		</div>
		<div class="modal-body" th:with="app=${applicationResult.object}">
			<p class="alert alert-warning">
				Opgelet: voeg hier enkel deelnemers toe van hetzelfde gezin. Voor andere deelnemers moet je een aparte inschrijving maken.
			</p>
			<form id="participant-form" class="form-horizontal" th:with="enrollment=${enrollmentResult.object}" th:attr="appUid=${app.uuid}" th:action="@{/api/applications/{uuid}/enrollments(uuid=${app.uuid})}" method="POST">
				<input th:if="${enrollment.participant.uuid != null}" id="participant-id" type="hidden" th:value="${enrollment.participant.uuid}"/>
				<div class="form-group">
					<label for="participant-given-name" class="col-sm-4 control-label">Voornaam (*)</label>
					<div class="col-sm-6">
						<input id="participant-given-name" name="participant.givenName" type="text" class="form-control" th:value="${enrollment.participant.givenName}" required="required"/>
					</div>
				</div>
				<div class="form-group">
					<label for="participant-family-name" class="col-sm-4 control-label">Familienaam (*)</label>
					<div class="col-sm-6">
						<input id="participant-family-name" name="participant.familyName" type="text" class="form-control" th:value="${enrollment.participant.familyName}" required="required"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Geslacht (*)</label>
					<div class="col-sm-3">
						<div class="checkbox">
							<label>
								<input type="radio" name="participant.gender" class="participant-gender" value="F" th:checked="${T(be.pirlewiet.digitaal.model.Gender).F == enrollment.participant.gender}" required="required"/>&nbsp;Vrouw
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="radio" name="participant.gender" class="participant-gender" value="M" th:checked="${T(be.pirlewiet.digitaal.model.Gender).M == enrollment.participant.gender}"/>&nbsp;Man
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input type="radio" name="participant.gender" class="participant-gender" value="X" th:checked="${T(be.pirlewiet.digitaal.model.Gender).X == enrollment.participant.gender}"/>&nbsp;X
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="participant-birth-day" class="col-sm-4 control-label">Geboortedatum (*)</label>
					<div class="col-sm-3">
						<input id="participant-birth-day" name="participant.birthDay" type="text" class="form-control" th:value="${enrollment.participant.birthDay}" placeholder="28/08/1977" required="required" pattern="^[0-9]{2}/[0-9]{2}/[0-9]{4}$"/>
					</div>
				</div>
				<div class="form-group">
					<label for="participant-phone" class="col-sm-4 control-label">Telefoonnummer (*)</label>
					<div class="col-sm-4">
						<input id="participant-phone" name="participant.phone" type="tel" class="form-control" th:value="${enrollment.participant.phone}" required="required" pattern="^[0-9]{3,4}/[0-9]{6,7}$" placeholder="0499/290671"/>
					</div>
				</div>
				<div class="form-group">
					<label for="participant-email" class="col-sm-4 control-label">E-mail</label>
					<div class="col-sm-6">
						<input id="participant-email" name="participant.email" type="email" class="form-control" th:value="${enrollment.participant.email}" pattern="^[0-9a_-z.+-]@[0-9a-z\.+-]$"/>
					</div>
				</div>
				<div class="form-group">
					<label for="address-zipcode" class="col-sm-4 control-label">PostCode (*)</label>
					<div class="col-sm-4">
						<input id="address-zipcode" name="address.zipCode" type="text" class="form-control" th:value="${enrollment.address.zipCode}" required="required" pattern="^[0-9]{4}$" placeholder="1001"/>
					</div>
				</div>
				<div class="form-group">
					<label for="address-city" class="col-sm-4 control-label">Gemeente (*)</label>
					<div class="col-sm-6">
						<input id="address-city" name="address.city" type="text" class="form-control" th:value="${enrollment.address.city}" required="required"/>
					</div>
				</div>
				<div class="form-group">
					<label for="address-street" class="col-sm-4 control-label">Straat (*)</label>
					<div class="col-sm-6">
						<input id="address-street" name="address.street" type="text" class="form-control" th:value="${enrollment.address.street}" required="required"/>
					</div>
				</div>
				<div class="form-group">
					<label for="address-number" class="col-sm-4 control-label">Huisnummer (*)</label>
					<div class="col-sm-2">
						<input id="address-number" type="text" name="address.number" class="form-control" th:value="${enrollment.address.number}" required="required"/>
					</div>
				</div>
				<div class="form-group">
					<label for="participant-save" class="col-sm-4 control-label"></label>
					<div class="col-sm-6">
						<button type="button" class="btn btn-default" data-dismiss="modal">Annuleer</button>
						<button type="submit" id="participant-save" class="btn btn-primary participant-save" th:data-attribute-enrollment-uuid="${enrollment.uuid}"><i class="fa fa-3 fa-save"></i>&nbsp;&nbsp;Sla op</button>
						<span id="participant-status"></span><br/>
						<span id="error"></span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</body>