<p>
Beste doorverwijzer,
</p>

<p>
Jij of een van je collega's vroeg een code aan voor de digitale inschrijvingen van Pirlewiet VZW.
</p>

<p>
Hieronder vind je deze code terug. Jij en je collega's kan deze gebruiken om je aan te melden. Lukt dit niet, contacteer dan het secretariaat.
</p>

<p>
Je code: <strong>${code}</strong>
</p>

<p>
Met vriendelijke groet,<br/>
Het secretariaat van Pirlewiet.
</p>

<p>
Deze e-mail werd automatisch gegenereerd; je kan hier niet op antwoorden. <br/>
Wil je contact opnemen met het secretariaat van Pirlewiet kan dat via onze website of via info@pirlewiet.be
</p>