<p>
Beste Pirlewieter,
</p>

<p>
Een doorverwijzer wijzigde een inschrijving:
</p>

<p>
	<table>
		<tbody>
		<tr>
			<th scope="row">Vakantie(s)</th>
			<td>${vakanties}</td>
		</tr>
		<tr>
			<th scope="row">Deelnemer</th>
			<td>${inschrijving.deelnemers[0].voorNaam} ${inschrijving.deelnemers[0].familieNaam}</td>
		</tr>
	</table>
</p>

<p>
Je kan deze inschrijving in detail bekijken én beheren via <a href="http://pirlewiet-digitaal.appspot.com/rs/inschrijvingen/${id}.html">http://pirlewiet-digitaal.appspot.com/rs/inschrijvingen/${id}.html</a> 
</p>

<p>
Voor het overzicht van alle inschrijvingen, surf naar <a href="http://pirlewiet-digitaal.appspot.com/index.htm">Pirlewiet Digitaal</a>
</p>

<p>
Met vriendelijke groet,<br/>
De Pirlewiet-Digitaal Robot.
</p>

<p>
Deze e-mail werd automatisch gegenereerd; je kan hier niet op antwoorden. <br/>
</p>