<p>
Beste doorverwijzer,
</p>

<p>
Jij of een van je collega's vroeg een code aan voor de digitale inschrijvingen van Pirlewiet VZW.
</p>

<p>
Hieronder vind je deze code terug. Je kan deze gebruiken om je aan te melden. Als dit niet lukt, contacteer dan het secretariaat van Pirlewiet.
</p>

<p>
Je code: <strong>${code}</strong>
</p>

<p>
Ga naar onze <a href="https://pirlewiet-digitaal.appspot.com/index.htm">website voor digitale inschrijvingen</a>
</p>


<p>
Met vriendelijke groet,<br/>
Pirlewiet VZW.
</p>

<p>
Deze e-mail werd automatisch gegenereerd; je kan hier niet op antwoorden. <br/>
Wil je contact opnemen met het secretariaat van Pirlewiet kan dat via www.pirlewiet.be of via info@pirlewiet.be
</p>