<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragment-head :: head}">
</head>
<body>

<div th:replace="~{fragments/fragment-menu :: menu-anonymous}"></div>

<div class="banner">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <h1>Organisaties</h1>
                <p>Overzicht van de bij Pirlewiet geregistreerde organisaties.</p>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div>

<div class="container">
    <div class="row mandatory">
        <br/>
        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Gemeente</th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody th:with="organisations=${organisationsResult.object}">
                <tr th:each="organisationResult : ${organisations}">
                    <td th:text="${organisationResult.object.name}"></td>
                    <td class="nowrap" th:text="${organisationResult.object.city}"></td>
                    <td class="nowrap" th:text="${organisationResult.object.email}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div><!-- container -->

<script>
    var $jq = jQuery.noConflict();
</script>
</body>
</html>