<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/fragment-head :: head}">
</head>
<body>

<div th:replace="~{fragments/fragment-menu :: menu-anonymous}"></div>

<div class="banner">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <h1>Registreer organisatie</h1>
                <p>Registreer jouw organisatie als doorverwijzer.</p>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div>

<div class="container">
    <br/>
    <div class="row">
        <form class="form-horizontal" role="form" method="post">
            <h2>Gegevens</h2>
            <p>Velden met een (*) moet je zeker invullen.</p>

            <div class="form-group">
                <label for="organisation-name" class="col-sm-4 control-label">Naam organisatie (*)</label>
                <div class="col-sm-3">
                    <input id="organisation-name" type="text" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="organisation-phone" class="col-sm-4 control-label">Telefoonnummer (*)</label>
                <div class="col-sm-2">
                    <input id="organisation-phone" type="tel" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="organisation-email" class="col-sm-4 control-label">E-mail (*)</label>
                <div class="col-sm-3">
                    <input id="organisation-email" type="email" class="form-control" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"/>
                </div>
            </div>

            <div class="form-group">
                <label for="organisation-city" class="col-sm-4 control-label">Gemeente (*)</label>
                <div class="col-sm-2">
                    <input id="organisation-city" type="text" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label"></label>
                <div class="col-sm-8">
                    <button type="button" id="organisation-save" class="btn btn-primary" data-loading-text="Even geduld...">
                        <i class="fa fa-save"></i>&nbsp;&nbsp;Verstuur
                    </button>
                    <span id="organisation-status" class="error hidden"></span>
                </div>
            </div>
        </form>
    </div>
</div><!-- container -->

<script>
    var $jq = jQuery.noConflict();
    $jq(".pop").popover();

    var saveOrganisation = function() {
        var address = {
            city: $jq("#organisation-city").val()
        }
        var organisation = {
            uuid: $jq("#organisation-uuid").val(),
            name: $jq("#organisation-name").val(),
            phone: $jq("#organisation-phone").val(),
            email: $jq("#organisation-email").val(),
            address: address
        };

        postOrganisation(organisation, $jq("#organisation-save"), $jq("#organisation-status"));
    };

    $jq("#organisation-save").click(function(event) {
        saveOrganisation();
    });
</script>
</body>
</html>